body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #ffe4e1;
    color: #333;
}

h1 {
    margin-top: 20px;
}

#contador {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.carousel img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
}

button {
    background-color: #ff7f7f;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #ff5252;
}
